* {
  font-family: "Iosevka Nerd Font", monospace;
  font-size: 11pt;
}

window#waybar {
  background: #1d2021;
  border: 2px solid #d79921;
  border-radius: 10px;
  color: #ebdbb2;
}

#workspaces button.active {
  background: #d79921;
  color: #1d2021;
}
